.open-sans-nprmal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Header Titel */

/* header{
      background-image: url('../imges/image.png');
      background-repeat: no-repeat;
      background-size: cover;
} */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 180px;
}
.nav-titel{
    font-weight: bold;
    font-size: 56px;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
ul li a{
    text-decoration: none;
    font-size: 20px;
}
nav ul{
    display: flex;
    align-items: center;
}

/* Main */
main{
    max-width: 1140px;
    margin: 50px auto;
}
main section{
    margin-bottom: 100px;
}
/* Banner desing */

.banner-contaner{
    display: flex;
    justify-content: space-between;  
    margin: 0 130px 0 180px;  
}
.text-banner{
    padding: 40px 0px;
    max-width: 574px;
}
.banner-title1{
    margin-bottom: -15px;
    font-size: 30px;
     color: #474747;
}
.banner-title2{
    font-size: 56px;
}
.banner-img{
    width: 574px;
}
.new , .new2{
    margin: 20px 0px;
}

/* Share Style */
.BG_COLO{
    background-color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}

.praghrap-color{
    color: #474747;
}

.btn-primary{
    color: white;
    font-weight: 700;
    font-size: 20px;
    background-color: #FD6E0A;
    border: 0;
    padding: 15px 20px;
    border-radius: 5px;
}
.all-section-tietle{
    font-size: 35px;
    font-weight: bold;
    color: #474747;
}
/* About Section */
.About{
    margin-top: 120px;
    text-align: center;
    padding: 110px 160px;
    border-radius: 10px;
}


.item-section{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.item-title{
    font-size: 18px;
    color: #474747;
}
.item-decpition{
    margin-top: -10px;
    font-size: 20px;
    color: #000000;
    font-weight: 600;
}

/* Skill Section */

.skill{
    max-width: 1140px;
}
.first-skill{
    text-align: center;
}
.section-dicpiton{
    font-size: 17px;
    color: #474747;
}

.skill-card{
    margin-top: 80px;
    display: flex;
    gap: 20px;
}
.icon-img{
   width: 49px;
}
.card{
    box-shadow: 0px 6px 50px 0px rgb(222, 222, 222);
    padding: 33px;
}


/* Eaducation Sklii */

.titlebar{
    text-align: center;
}

.history{
    padding: 0 0 30px 150px;
    margin-top: 120px;
    display: flex;
    gap: 30px;
}
.resum-title{
    font-size: 30px;
    font-weight: 600;
}
.main-title{
    font-size: 20px;
    font-weight: 600;
}
.sub-title{
    font-size: 15px;
    font-weight: 600;
    margin-top: -15px;
    color: #474747;
}
.dicption-resume{
    font-size: 15px;
    font-weight: 500;
    color: #474747;
}
.btndown{
    text-align: center;
    padding: 40px 0;
}