

.open-sans-nprmal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* Header Titel */

header{
      background-image: url('../imges/image.png');
      background-repeat: no-repeat;
      background-size: cover;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 180px;
}
.nav-titel{
    font-weight: bold;
    font-size: 56px;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
ul li a{
    text-decoration: none;
    font-size: 22px;
}
nav ul{
    display: flex;
    align-items: center;
}

/* Banner desing */

.banner-contaner{
    display: flex;
    justify-content: space-between;  
    margin: 0 130px 0 180px;  
  
}
.text-banner{
    width: 574px;
}
.banner-title1{
    font-size: 30px;
     color: #474747;
}
.banner-title2{
    font-size: 56px;
}
.banner-img{
    width: 574px;
}

/* Share Style */
.text-primary{
    color: #FD6E0A;
}

.praghrap-color{
    color: #474747;
}

.btn-primary{
    color: white;
    font-weight: 700;
    font-size: 20px;
    background-color: #FD6E0A;
    border: 0;
    padding: 15px 20px;
    border-radius: 5px;
}